/* This file is for your main application css. */

@import "bootstrap";

h1 { text-align: center; }
.card {
  width: 120px;
  height: 120px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 48px;
  margin: 12px 12px;
  cursor: pointer;
}
